@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

body {
  width: 100%;
  height: 100%;

  min-height: 100vh;
}

#root {
  height: 100%;
}